.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 56px;
  background-color: #1a1a1a;
  padding: 30px;
  height: 100%;
  color: #fff;
}

@media (max-width: 1023px) {
  .component {
    border-radius: 0;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 43px;
  border-radius: 24px;
  /* background-color: #202020; */
  /* border: 3px solid #ff7578; */
  overflow: hidden;
  margin: 0 0 25px;
}

@media (max-width: 1023px) {
  .logo {
    padding: 32px 43px;
  }
}

.content {
  border-radius: 24px;
  background-color: #707070;
  padding: 22px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 7px;
  background-color: #c9c9c9;
  margin-bottom: 20px;
  padding: 0 16px;
}

.contentContainer {
  height: 525px;
  border-radius: 7px;
  background-color: #c9c9c9;
}

.navList {
  list-style: none;
  display: flex;
}

.navListItem {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  border-radius: 6px;
  background-color: #f57073;
  border: 3px solid #313131;
  text-transform: uppercase;
  color: #313131;
  font-weight: 600;
  transition:
    0.15s border ease,
    0.15s background-color ease,
    0.15s color ease;
}

.navListItem:hover {
  cursor: pointer;
  background-color: #313131;
  border: 3px solid #f57073;
  color: #f57073;
}

.navListItem:not(:last-child) {
  margin-right: 8px;
}

.socials {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #202020;
}

.socialItem:not(:last-of-type) {
  margin-right: 12px;
}
